<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543112901087-hdjbkmb2vaclogf0vi1ofiqt9728ptjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543112901087-hdjbkmb2vaclogf0vi1ofiqt9728ptjn</string>
	<key>API_KEY</key>
	<string>AIzaSyC-rTLWMnJc2C_IEnrpEbpOqxkVD5emqMw</string>
	<key>GCM_SENDER_ID</key>
	<string>543112901087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vladimir.com.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-9e364</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-9e364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543112901087:ios:bebe25489bcd4455b4146a</string>
</dict>
</plist>